<div class="row">
	<div class="col-xs-4">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<button class="btn btn-success feed-add">Add Feed</button>
				</div>
				<div class="panel-body">
					<ul *ngFor="let feed of feeds; let i = index"
						class="list-group"
						(click)="selectFeed( i, feed )">
						<li class="list-group-item" [class.active]="currentFeedIndex === i">
							{{ feed.name }}
							<span class="badge badge-primary badge-pill">{{ feed.channels.length }}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-8" *ngIf="feed">
		<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 class="pull-left">{{ feed.name }}</h4>
					<div class="form-group row">
						<div class="col-xs-4">
							<input placeholder="Search...." type="text" class="form-control form-control-sm filter" name="search" [(ngModel)]="filter">
						</div>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-hover">
				    <thead>
				        <tr>
				            <th (click)="sort( 'id' )">ID
				            	 <span class="glyphicon sort-icon" *ngIf="key =='id'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				            </th>
				            <th (click)="sort( 'name' )">Name
								 <span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				            </th>
				            <th (click)="sort( 'uri' )">URI
								 <span class="glyphicon sort-icon" *ngIf="key =='uri'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				            </th>
				            <th (click)="sort( 'redundancy_id' )">Redudancy ID
								 <span class="glyphicon sort-icon" *ngIf="key =='redundancy_id'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				            </th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr *ngFor="let channel of channels | orderBy: key : reverse | filter : filter | paginate: { itemsPerPage: 10, currentPage: page, id: 'primary' }; let i = index"
				        	[class.active]="i == selectedRow"
				        	[class.success]="channel.redundancy_id !== null">
				            <td>{{ channel.id }}</td>
				            <td>{{ channel.name }}</td>
				            <td>{{ channel.uri }}</td>
				            <td>{{ channel.redundancy_id }}</td>
				        </tr>
				    </tbody>
				</table>
				<br>
				<pagination [boundaryLinks]="true" [totalItems]="channels.length" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [(ngModel)]="page"></pagination>
				</div>
			</div>
		</div>
	</div>
</div>
